/* Generic */
.btn[disabled] {
    background-color: #999999;
    border-color: #999999;
}

.has-error{
    color:#c00000 !important;
    border-color: #c00000 !important;
}

/* native placeholders */
input.has-error:-moz-placeholder,
textarea.has-error:-moz-placeholder {
    color:#c00000 !important;
}

input.has-error:-ms-input-placeholder,
textarea.has-error:-ms-input-placeholder {
    color:#c00000 !important;
}

input.has-error::-webkit-input-placeholder,
textarea.has-error::-webkit-input-placeholder {
    color:#c00000 !important;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #808080;
    border-color: #666666;
}