body #ad {
    margin: 10px 10px 20px 10px;
    height: 340px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/960-ad.png); }

@media (max-width: 970px) {
    body #ad {
        height: 220px;
        margin: 10px 10px 20px 10px;
        background-size: 100%;
        background-image: url(../img/960-ad.png); } }
@media (max-width: 480px) {
    body #ad {
        height: 360px;
        margin: 0px 0px 10px 0px;
        background-image: url(../img/300-ad.png);
        background-size: inherit; } }
