body .app-image {
    margin: 10px 10px 20px 10px;
    height: 340px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/960-app.png); }

@media (max-width: 970px) {
    body .app-image {
        height: 220px;
        margin: 10px 10px 20px 10px;
        background-size: 100%;
        background-image: url(../img/960-app.png); } }
@media (max-width: 480px) {
    body .app-image {
        height: 360px;
        margin: 0px 0px 10px 0px;
        background-image: url(../img/300-app.png);
        background-size: inherit; } }

/* NOTE: Platform specific images can be overriden via .app-image.osx or .app-image.ios class names */