body {
  font-family: "helvetica neue", helvetica, sans-serif;
  font-size: 11px;
  background-color: #e0e0e0;
  background-image: url(../img/background-sm.jpg);
  background-size: cover; }
  body a:link, body a:active, body a:visited {
    color: #256091;
    text-decoration: none; }
  body h1, body h2, body p {
    color: white;
    text-align: center;
    margin: 0px 0px 10px 0px;
    text-decoration: none; }
  body h1 {
    font-size: 4em;
    line-height: 1em; }
  body h2 {
    font-size: 1.5em; }
  body p {
    font-size: 1em; }
  body #lgo-tomizone {
    position: fixed;
    top: 20px;
    right: 20px;
    height: 45px;
    width: 100px;
    background: url(../img/lgo-tomizone.svg) no-repeat; }
  body #wrapper {
    margin: 60px auto 0px auto;
    width: 90%; }
    body #wrapper #get-online {
      display: block;
      margin: 110px auto 0px auto;
      padding: 60px 0px 0px 0px;
      height: 140px;
      width: 200px;
      background: gray;
      border-radius: 50%;
      cursor: pointer; }
    body #wrapper #success-info {
      display: block;
      background: #e0e0e0;
      margin: 20px 0px 0px 0px;
      padding: 20px; }
      body #wrapper #success-info p {
        color: black; }
    body #wrapper .button {
      display: block;
      text-transform: uppercase;
      padding: 0;
      border: 0;
      text-align: center;
      cursor: pointer;
      color: #fff;
      font-family: helvetica,arial,sans-serif;
      font-size: 2em;
      line-height: 2em;
      font-weight: 400;
      background-color: #808080;
      border-radius: 4px;
      margin: 10px 10px 20px 10px; }

@media screen and (min-width: 760px) {
  body {
    font-size: 13px;
    background-image: url(../img/background-lg.jpg); }
    body #wrapper {
      margin: 100px auto 0px auto;
      width: 960px; }
      body #wrapper #get-online {
        padding: 100px 0px 0px 0px;
        height: 200px;
        width: 300px; } }
@media (max-width: 970px) {
  body #wrapper .button {
    margin: 10px 10px 20px 10px; } }
@media (max-width: 480px) {
  body #wrapper .button {
    margin: 0px 0px 10px 0px; } }

