body #wrapper video {
    margin: 0 auto; width: 960px;
    height: 360px; }

@media (max-width: 970px) {
    body #wrapper video {
        height: 220px;
        margin: 0 auto; width: 400px;
        background-size: 100%;
        background-image: url(../img/960-ad.png); } }
@media (max-width: 480px) {
    body #wrapper video {
        height: 360px;
        margin: 0px 0px 10px 0px;
        background-image: url(../img/300-ad.png);
        background-size: inherit; } }