<div class="app-image osx"></div>
<a id="get-app"
   class="button" href="/redirect?eventType=download-your-app-mac&url=http://your-app.com/download/osx/your-app.dmg">
    <div class="ico_connect mac "></div>
    <h3>Get The App</h3>
</a>