<div class="app-image win-mobile"></div>
<a id="get-app" href="/redirect?eventType=download-your-app-win-mobile&url=http://your-app.com/download/win-mobile/your-app">
    <div class="ico_connect win-mobile"></div>
    <h3>Get The App</h3>
</a>