<div class="app-image linux"></div>
<a id="get-app" href="/redirect?eventType=download-your-app-linux&url=http://your-app.com/download/linux">
    <div class="ico_connect linux"></div>
    <h3>Get The App</h3>
</a>