<div class="app-image win"></div>
<a id="get-app" href="/redirect?eventType=download-your-app-win&url=http://your-app.com/download/win/your-app.exe">
    <div class="ico_connect win"></div>
    <h3>Get The App</h3>
</a>