<div class="app-image android"></div>
<a id="get-app" href="/redirect?eventType=download-your-app-android&url=http://your-app.com/download/android">
    <div class="ico_connect android"></div>
    <h3>Get The App</h3>
</a>