<div class="app-image ios"></div>
<a id="get-app" href="/redirect?eventType=download-your-app-ios&url=http://appstore.com/your-app/id12345667">
    <div class="ico_connect ios"></div>
    <h3>Get The App</h3>
</a>