<div id="lgo-tomizone">
</div>

{{#if currentUser.isSignedIn}}
    <div {{action logout}} id="log-out"></div>
{{else}}
    {{#unless hasNoActiveSession}}
        <div {{action logout}} id="log-out"></div>
    {{/unless}}
{{/if}}

