{{#if rates}}
<ul class="rates">
    {{#each rate in rates.paidRates}}
      {{view Tomizone.RateView selectedRateIdBinding="selectedRateId" rateBinding="rate" popularRateIdBinding="popularRateId" }}
    {{/each}}
</ul>
{{/if}}
