<li {{action "selectRate" rate.id}} {{bindAttr class=":clearfix :rate view.popular:popular view.selected:selected rate.embargoed:embargoed"}}>
  <div class="col-xs-2 radio">
    {{view Tomizone.RadioButton name="rate" selectionBinding="selectedRateId" valueBinding="rate.id" }}
    <div class="mask"></div>
  </div>
  <div class="col-xs-4 feature">{{prettyCurrency rate.price}} {{rate.name}}</div>
  <div class="col-xs-6 detail">{{prettyTime rate.timeLimit}} / {{prettyDataWithUnits rate.dataLimit}}</div>
</li>
