{{#if isSpinning}}
    &nbsp;{{spin-spinner lines=lines length=length width=width radius=radius corners=corners rotate=rotate direction=direction speed=speed trail=trail shadow=shadow hwaccel=hwaccel color=color left=left top=top}}
{{else}}
    {{yield}}
{{/if}}