<div id="welcome" class="col-xs-12 col-md-6">

  <h1>
    {{#if context.title}}{{context.title}}{{else}}Hey there {{#if currentUser.firstName}}{{ currentUser.firstName }}{{/if}}{{/if}}
  </h1>
  <h2>
    {{#if context.message}}{{context.message}}{{else}}Let's get you online{{/if}}
  </h2>

</div>

<div id="account-existing" class="col-xs-12 col-md-6 login">

  {{#if currentUser.isSignedIn }}

    <form class="form-inline" {{action "purchase" on="submit"}}>

      <div id="account-logged-in">

        <h3>Select Pass
          <small>
            {{#if currency}}({{currency}}){{/if}} / {{#link-to 'voucher'}}Use Voucher Code{{/link-to}}
          </small>
        </h3>

        {{view App.RatesView contentBinding=this}}

        <h3>Secure Payment <i class="ion icon-ion-locked"></i>
          <small>/
            {{#link-to 'payments'}}Manage Cards{{/link-to}}
          </small>
        </h3>
        {{#if paymentMethods}}
          <div class="form-group col-xs-12">

            <div class="col-xs-12 col-md-6 btn-group dropdown">
              <button type="button" class="btn btn-default dropdown-toggle full-width" data-toggle="dropdown" {{bindAttr value="selectedPaymentMethod.id"}}>
                <i class="ion icon-card-visa"></i> {{ formatCcNumber selectedPaymentMethod.number }}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                {{#each paymentMethods}}
                  <li><a href="#" {{action "selectPaymentMethod" id on="click"}}><i class="ion icon-card-visa"></i> {{formatCcNumber number}}</a></li>
                {{/each}}
              </ul>
            </div>

            <div class="col-xs-12 col-md-6">

              {{#spinner-button type="submit" action="saveForm" tabindex="2" class="col-xs-12 btn btn-primary pull-right" classBinding="disablePurchaseSubmit:disabled:enabled" disabledBinding=disablePurchaseSubmit isSpinning=isProcessing}}
                Get Online
              {{/spinner-button}}

            </div>

          </div>
        {{else}}
          <div class="form-group col-xs-12">

            <fieldset class="credit-card-group">

              {{view App.InputCreditCardNumber
              valueBinding="newPaymentMethod.number"
              id="cc-number"
              name="cardNumber"
              required=true
              classNames="col-xs-12 col-md-6 ion-input icon-card-front popover-input"
              pattern="^[0-9 ]+$"
              data-content="(eg. 4485 1221 0746 9197)"
              data-container="body"
              data-placement="auto top"
              data-trigger="focus"
              data-validation-name="Card Number"
              tabindex="1"}}

              {{view App.InputExpires
              valueBinding="newPaymentMethod.expiryString"
              data-content="Expiry date with 2 digit month then 4 digit year"
              data-container="body"
              data-placement="auto top"
              data-trigger="focus"
              data-validation-name="Expiry Date"
              id="cc-exp"
              required=true
              classNames="col-xs-6 col-md-3 ion-input icon-ion-calendar"
              tabindex="2"}}

              {{view App.InputCCV
              valueBinding="newPaymentMethod.ccv"
              data-content="Card Code Verification number on the back of your card"
              data-container="body"
              data-placement="auto top"
              data-trigger="focus"
              data-validation-name="CVV Number"
              id="cc-cvv"
              required=true
              pattern="[0-9]*"
              maxlength="3"
              classNames="col-xs-6 col-md-3 ion-input icon-card-back"
              placeholder="CCV"
              name="ccCVV"
              tabindex="3"}}

              <div class="col-xs-6 row">{{input type="checkbox" name="rememberPayment" id="rememberPayment" checked=rememberPayment}} Remember</div>
              <div id="lgo-secure" class=" col-xs-6 pull-right"></div>

            </fieldset>

          </div>

          <div class="col-xs-12 col-md-6 submit pull-right">

            {{#spinner-button type="submit" tabindex="4" class="col-xs-12 btn btn-primary full-width" classBinding="disablePurchaseSubmit:disabled:enabled" disabledBinding=disablePurchaseSubmit isSpinning=isProcessing}}
              Get Online
            {{/spinner-button}}

          </div>
        {{/if}}

      </div>

    </form>

  {{else}}

    <form id="login" class="form-inline" {{action "login" on="submit"}}>

      <div id="account">

        <h3>Existing Account
          <small>/
            {{#link-to 'newaccount'}}Create New Account{{/link-to}}
          </small>
        </h3>

        <div class="form-group col-xs-12">

          {{view App.AttrInputEmail
          attributeName="email"
          attributesBinding=attributes
          data-content="Your Email Address (eg. you@domain.com)"
          data-container="body"
          data-placement="auto top"
          data-trigger="focus"
          placeholder="Email Address"
          valueBinding="currentUser.email"
          type="email"
          id="email"
          name="email"
          required=true
          classNames="col-xs-12 col-sm-6 ion-input icon-email popover-input"
          tabindex="1"}}

          {{view App.InputText
          valueBinding="currentUser.password"
          type="password"
          id="password"
          name="password"
          required=true
          minlength=4
          classNames="col-xs-12 col-sm-6 ion-input icon-ion-locked"
          placeholder="Password"
          tabindex="2"}}

          {{#spinner-button id="log-in" type="submit" data-placement="auto bottom" tabindex="3" class="btn btn-primary col-xs-12 col-md-6 pull-right" classBinding="disableLoginSubmit:disabled:enabled" disabledBinding=disableLoginSubmit isSpinning=isProcessing}}
            Log In
          {{/spinner-button}}

          <div class="col-xs-12 col-md-6 by-button">
            {{#link-to 'forgot'}}Forgot Password{{/link-to}}
          </div>

        </div>

      </div>
    </form>

  {{/if}}

</div>
