<div id="welcome" class="col-xs-12 col-md-6">

    <h1>{{#if context.title}}{{context.title}}{{else}}Whoops!{{/if}}</h1>
    <h2>{{#if context.message}}{{context.message}}{{else}}Something went wrong, please try to login again{{/if}}</h2>

</div>
