
<div id="welcome" class="col-xs-12 col-md-6">

    <h1>Hey there {{ currentUser.firstName }}</h1>
    <h2>Forgot your password?</h2>

</div>

<div id="account-existing" class="col-xs-12 col-md-6 login">

    <form class="form-inline" {{action submit on="submit"}}>

        <div id="account">

            <div class="form-group col-xs-12 submit">

                {{view App.InputEmailRemoteValidation
                attributeName="email"
                attributesBinding=attributes
                autocomplete="email"
                valueBinding="email"
                type="email"
                id="email"
                autofocus=true
                required=true
                classNames="popover-input col-xs-12 ion-input icon-email"
                data-content="Your Email Address (eg. you@domain.com)"
                data-container="body"
                data-placement="auto top"
                data-trigger="focus"
                placeholder="Email Address"
                tabindex="1"}}

            </div>

            <div class="col-xs-12">

                {{#spinner-button type="submit" tabindex="2" class="btn btn-primary col-xs-12 col-md-6 pull-right" classBinding="disableSubmit:disabled:enabled" disabledBinding=disableSubmit isSpinning=isProcessing}}
                    Send New Password
                {{/spinner-button}}

                <div class="col-xs-12 col-md-12 by-button">You will be given 2 minutes of internet access to check your email</div>

            </div>

        </div>

    </form>

</div>
