<div id="wrapper">

    <a href="#" data-success-url="sponsorredirect" {{action getOnline target="view"}}><div id="ad"></div></a>

    <a href="#" class="button" {{action getOnline target="view"}}>Get Online</a>

</div>