<div id="welcome" class="col-xs-12 col-md-6">

    <h1>{{#if context.title}}{{context.title}}{{else}}Hey there {{ currentUser.firstName }}{{context.title}}{{/if}}</h1>
    <h2>{{#if context.message}}{{context.message}}{{else}}Let's get you online{{/if}}</h2>

</div>

<div id="display-wrapper" class="col-xs-12 col-md-6 login">

  <form id="getonline" class="form-inline" {{action getOnline on="submit" target="view"}}>

      <div class="display-profile login hidden">

          <div class="col-xs-12">

              {{view App.InputEmailRemoteValidation
              attributeName="email"
              autocomplete="email"
              attributesBinding=attributes
              data-content="Your Email"
              data-container="body"
              data-placement="auto top"
              data-trigger="focus"
              data-capture="email"
              id="email"
              required=true
              classNames="popover-input col-xs-12 col-sm-6 ion-input icon-email"
              placeholder="Email Address"}}

              {{view App.AttrInputNumber
              attributeName="postal-code"
              autocomplete="postal-code"
              attributesBinding=attributes
              data-content="Your Post Code"
              data-container="body"
              data-placement="auto top"
              data-trigger="focus"
              placeholder="Post Code"
              data-capture="postCode"
              id="postal-code"
              required=true
              classNames="col-xs-12 col-sm-6 ion-input icon-ion-postal-code popover-input"}}

              {{view App.AttrInput
              attributeName="given-name"
              autocomplete="given-name"
              attributesBinding=attributes
              data-content="Your First Name"
              data-container="body"
              data-placement="auto top"
              data-trigger="focus"
              placeholder="First Name"
              data-capture="firstName"
              id="given-name"
              required=true
              classNames="col-xs-6 ion-input icon-ion-contact popover-input"}}

              {{view App.AttrInput
              attributeName="family-name"
              autocomplete="family-name"
              attributesBinding=attributes
              data-content="Your Last Name"
              data-container="body"
              data-placement="auto top"
              data-trigger="focus"
              placeholder="Last Name"
              data-capture="lastName"
              id="family-name"
              required=true
              classNames="col-xs-12 col-sm-6 ion-input icon-ion-contact popover-input"}}

              {{view App.AttrSelect
              id="sex"
              autocomplete="sex"
              data-capture="sex"
              attributeName="sex"
              attributesBinding=attributes
              classNames="col-xs-12 col-sm-6 ion-input icon-ion-people-outline"
              jsonContent='[{"label":"Female", "value":"f"},{"label":"Male", "value":"m"},{"label":"Other", "value":"o"}]'
              prompt="Select Gender"
              required=true}}

              {{view App.AttrBirthYear
              attributeName="bday-year"
              autocomplete="bday-year"
              attributesBinding=attributes
              data-content="Your Birth Year (eg 1985)"
              data-container="body"
              data-placement="auto top"
              data-trigger="focus"
              placeholder="Birth Year (eg 1985)"
              data-capture="birthyear"
              id="bday-year"
              required=true
              classNames="col-xs-12 col-sm-6 ion-input icon-ion-calendar popover-input"}}

          </div>

      </div>


      <div class="col-xs-12">

          {{#spinner-button type="submit" class="pull-right btn btn-primary col-xs-12 col-sm-6" classBinding="isFormInvalid:disabled:enabled" disabledBinding=isFormInvalid isSpinning=isProcessing}}
              Get Online
          {{/spinner-button}}

      </div>

  </form>

</div>
