<div id="welcome" class="col-xs-12 col-md-6">
    <h1>{{#if context.title}}{{context.title}}{{else}}Hey there {{ currentUser.firstName }}{{context.title}}{{/if}}</h1>
    <h2>{{#if context.message}}{{context.message}}{{else}}Let's get you online{{/if}}</h2>
</div>

<div id="account-new" class="col-xs-12 col-md-6 login">
    <form class="form-inline" {{action "signup" on="submit"}}>
        <h3>Create Account <small>/ {{#link-to 'account'}}Use Existing Account{{/link-to}}</small></h3>
        <div class="form-group col-xs-12">

            {{view App.InputEmailRemoteValidation
            attributeName="email"
            attributesBinding=attributes
            autocomplete="email"
            valueBinding="currentUser.email"
            data-content="Your Email Address (eg. you@domain.com)"
            data-container="body"
            data-placement="auto top"
            data-trigger="focus"
            data-capture="email"
            data-validation-name="Email Address"
            id="email"
            required=true
            classNames="popover-input col-xs-12 col-sm-6 ion-input icon-email"
            placeholder="Email Address"
            tabindex="1"}}

            {{view App.PasswordInput
            valueBinding="currentUser.password"
            type="password"
            id="password"
            required=true
            minlength=8
            classNames="popover-input col-xs-12 col-sm-6 ion-input icon-ion-locked"
            data-content="8 Characters long with one capital and one number (eg. Strong8170)"
            data-container="body"
            data-placement="auto top"
            data-validation-name="Password"
            data-trigger="focus"
            placeholder="Password"
            tabindex="2"}}

            {{view App.AttrInput
            attributeName="given-name"
            attributesBinding=attributes
            autocomplete="given-name"
            valueBinding="currentUser.firstName"
            data-content="Your First Name"
            data-container="body"
            data-placement="auto top"
            data-trigger="focus"
            id="firstName"
            name="ccName"
            required=true
            classNames="col-xs-6 ion-input icon-ion-contact popover-input"
            placeholder="First Name"
            data-validation-name="First Name"
            tabindex="3"}}


            {{view App.AttrInput
            attributeName="family-name"
            attributesBinding=attributes
            autocomplete="family-name"
            valueBinding="currentUser.lastName"
            data-content="Your Last Name"
            data-container="body"
            data-placement="auto top"
            data-trigger="focus"
            id="lastName"
            required=true
            classNames="col-xs-6"
            placeholder="Last Name"
            data-validation-name="Last Name"
            tabindex="4"}}

        </div>

        <h3>Select Pass <small>{{#if currency}}({{currency}}){{/if}} / {{#link-to 'voucher'}}Use Voucher Code{{/link-to}}</small></h3>

        {{view App.RatesView contentBinding=this}}

        <h3>Secure Payment <i class="ion icon-ion-locked"></i></h3>

        <div class="form-group col-xs-12">
            <fieldset class="credit-card-group">

              {{view App.InputCreditCardNumber
              valueBinding="newPaymentMethod.number"
              id="cc-number"
              name="cardNumber"
              required=true
              classNames="col-xs-12 col-md-6 ion-input icon-card-front popover-input"
              pattern="^[0-9 ]+$"
              data-content="(eg. 4485 1221 0746 9197)"
              data-container="body"
              data-placement="auto top"
              data-trigger="focus"
              data-validation-name="Card Number"
              tabindex="5"}}

              {{view App.InputExpires
              valueBinding="newPaymentMethod.expiryString"
              data-content="Expiry date with 2 digit month then 4 digit year"
              data-container="body"
              data-placement="auto top"
              data-trigger="focus"
              data-validation-name="Expiry Date"
              id="cc-exp"
              required=true
              classNames="col-xs-6 col-md-3 ion-input icon-ion-calendar"
              tabindex="6"}}

              {{view App.InputCCV
              valueBinding="newPaymentMethod.ccv"
              data-content="Card Code Verification number on the back of your card"
              data-container="body"
              data-placement="auto top"
              data-trigger="focus"
              data-validation-name="CVV Number"
              id="cc-cvv"
              required=true
              pattern="[0-9]*"
              maxlength="3"
              classNames="col-xs-6 col-md-3 ion-input icon-card-back"
              placeholder="CCV"
              name="ccCVV"
              tabindex="7"}}

                <div class="col-xs-6 row">{{input type="checkbox" name="rememberPayment" id="rememberPayment" checked=rememberPayment}} Remember</div>
                <div id="lgo-secure" class=" col-xs-6 pull-right"></div>

            </fieldset>

        </div>

        <div class="col-xs-12 col-md-6 pull-right">
            {{#spinner-button type="submit" tabindex="8" class="full-width btn btn-primary submit" classBinding="disableSignupSubmit:disabled:enabled" disabledBinding=disableSignupSubmit isSpinning=isProcessing}}
                Get Online
            {{/spinner-button}}
        </div>

    </form>

</div>
