
<div id="welcome" class="col-xs-12 col-md-6">

    <h1 class="hidden-xs">{{#if context.title}}{{context.title}}{{else}}Hey there {{ currentUser.firstName }}{{context.title}}{{/if}}</h1>
    <h2 class="hidden-xs">{{#if context.message}}{{context.message}}{{else}}Let's get you online{{/if}}</h2>

</div>

<div id="account-existing" class="col-xs-12 col-md-6 login">

    <form class="form-inline" {{action addPaymentMethod on="submit"}}>

        <div id="account">

            <h3 class="col-xs-12">Manage Cards <small>/ {{#link-to 'account'}}Back to Secure Payment{{/link-to}}</small></h3>

            <div class="col-xs-12 form-group">

                <table class="cards">
                    <tbody>
                    {{#if paymentMethods}}
                        {{#each paymentMethod in paymentMethods}}
                            {{render "userpayment" paymentMethod}}
                        {{/each}}
                    {{else}}
                        <tr>
                            <td class="col-xs-12 text-center">No stored cards, please add one below</td>
                        </tr>
                    {{/if}}
                    </tbody>
                </table>

            </div>

            <h3>Add Card <small>/ {{#link-to 'payments'
                        id="security-policy"
                        title="Security Policy"
                        classNames="popover-a"
                        data-content="For added security Tomizone stores only the first 2 and last 4 digits of your card for recognition."
                        data-container="body"
                        data-placement="auto top"
                        data-trigger="click"}}Security Policy{{/link-to}}
                </small>
            </h3>

            <div class="form-group col-xs-12">

                <fieldset class="credit-card-group">

                  {{view App.InputCreditCardNumber
                  valueBinding="newPaymentMethod.number"
                  id="cc-number"
                  name="cardNumber"
                  required=true
                  classNames="col-xs-12 col-md-6 ion-input icon-card-front popover-input"
                  pattern="^[0-9 ]+$"
                  data-content="(eg. 4485 1221 0746 9197)"
                  data-container="body"
                  data-placement="auto top"
                  data-trigger="focus"
                  data-validation-name="Card Number"
                  tabindex="1"}}

                  {{view App.InputExpires
                  valueBinding="newPaymentMethod.expiryString"
                  data-content="Expiry date with 2 digit month then 4 digit year"
                  data-container="body"
                  data-placement="auto top"
                  data-trigger="focus"
                  data-validation-name="Expiry Date"
                  id="cc-exp"
                  required=true
                  classNames="col-xs-6 col-md-3 ion-input icon-ion-calendar"
                  tabindex="2"}}

                  {{view App.InputCCV
                  valueBinding="newPaymentMethod.ccv"
                  data-content="Card Code Verification number on the back of your card"
                  data-container="body"
                  data-placement="auto top"
                  data-trigger="focus"
                  data-validation-name="CVV Number"
                  id="cc-cvv"
                  required=true
                  pattern="[0-9]*"
                  maxlength="3"
                  classNames="col-xs-6 col-md-3 ion-input icon-card-back"
                  placeholder="CCV"
                  name="ccCVV"
                  tabindex="3"}}

                    <div id="lgo-secure" class=" col-xs-6 pull-right"></div>

                </fieldset>

            </div>


            <div class="col-xs-12 col-sm-6">

                {{#link-to 'account' class="btn btn-default btn-small col-xs-12 submit"}}Back to Secure Payment{{/link-to}}

            </div>


            <div class="col-xs-12 col-sm-6">

                {{#spinner-button type="submit" tabindex="6" class="btn btn-primary full-width submit" classBinding="disableAddSubmit:disabled:enabled" disabledBinding=disableAddSubmit isSpinning=isProcessing}}
                    Add Card
                {{/spinner-button}}

            </div>

        </div>

    </form>

</div>
