<div id="welcome" class="col-xs-12 col-md-6">

    <h1>Hey there</h1>
    <h2>Let's reset your password</h2>

</div>

<div id="account-existing" class="col-xs-12 col-md-6 login">

    <form id="reset" class="form-inline" {{action "submit" on="submit"}}>

        <div id="account">

            <div class="form-group col-xs-12 submit">

                {{view App.InputText
                valueBinding="resetPassword"
                type="password"
                id="password"
                required=true
                classNames="col-xs-12 col-sm-6 popover-input"
                data-content="8 Characters long with one capital and one number (eg. Strong8170)"
                data-container="body"
                data-placement="auto top"
                data-trigger="focus"
                placeholder="New Password"
                tabindex="1"}}

                {{view App.InputText
                valueBinding="resetPasswordConfirm"
                type="password"
                id="passwordConfirm"
                required=true
                classNames="col-xs-12 col-sm-6 popover-input"
                data-content="Confirm your new password again"
                data-container="body"
                data-placement="auto top"
                data-trigger="focus"
                placeholder="Confirm Password"
                tabindex="2"}}

            </div>

            <div class="form-group col-xs-12 submit">

                {{#spinner-button type="submit" tabindex="6" class="btn btn-primary full-width" classBinding="disableSubmit:disabled:enabled" disabledBinding=disableSubmit isSpinning=isProcessing}}
                    Reset password
                {{/spinner-button}}

            </div>

        </div>
    </form>

</div>
