<div id="wrapper">

    <div id="get-online"><h1>You're<br/>Online</h1></div>

    <div id="success-info">

        <p>You're now connected{{#if currentVouchersession }} for {{#if currentVouchersession.timeLimit }}{{prettyTime currentVouchersession.timeLimit}}{{/if}} {{#if currentVouchersession.dataLimit }} with {{prettyDataWithUnits currentVouchersession.dataLimit}} of data{{/if}} {{#if currentVouchersession.speedLimitDown }} at {{prettySpeedWithUnits currentVouchersession.speedLimitDown}}{{/if}}{{/if}}.</p>
        <p>Please be conscious of any automatic updates you might have turned on as they can chew through your data allowance.<p>

    </div>

</div>
