<div id="wrapper">

    <div id="success-info">

        <h1>{{#if context.title}}{{context.title}}{{else}}You're Online{{/if}}</h1>
        {{#if context.message}}<h2>{{context.message}}</h2>{{/if}}

    </div>

</div>
