<div id="wrapper">

    <video id="video" width="640" height="360" align="middle" poster="{{unbound template.path}}img/big_buck_bunny-poster.jpg" autoplay controls>
        <!-- MP4 must be first for iPad! -->
        <source src="{{unbound template.path}}video/big_buck_bunny.mp4"   type="video/mp4"  webkit-playsinline/><!-- Safari / iOS, IE9 -->
        <source src="{{unbound template.path}}video/big_buck_bunny.webm"  type="video/webm" /><!-- Chrome10+, Ffx4+, Opera10.6+ -->
        <source src="{{unbound template.path}}video/big_buck_bunny.ogv"   type="video/ogg"  /><!-- Firefox3.6+ / Opera 10.5+ -->
    </video>

    <a href="#" class="button" onclick="document.getElementById('video').play()">Play video</a>

</div>
