<div id="wrapper">

    <div id="success-info">

        <h1>{{#if context.title}}{{context.title}}{{else}}You're Online{{/if}}</h1>
        {{#if context.message}}<h2>{{context.message}}</h2>{{/if}}

    </div>

    <div>
        {{view App.RoktOffer partnerId="990069f311d14b8bb16cb1217ee3073e"}}
    </div>

</div>
