<div id="wrapper">

    <div id="success-info">

        <p>You're now connected{{#if currentVouchersession }} for {{#if currentVouchersession.timeLimit }}{{prettyTime currentVouchersession.timeLimit}}{{/if}} {{#if currentVouchersession.dataLimit }} with {{prettyDataWithUnits currentVouchersession.dataLimit}} of data{{/if}} {{#if currentVouchersession.speedLimitDown }} at {{prettySpeedWithUnits currentVouchersession.speedLimitDown}}{{/if}}{{/if}}.</p>
        <p>If you thought that was easy, check out our website for more amazing things.<p>

    </div>

    {{#link-to 'venueredirect' class='button'}}Check It Out{{/link-to}}

</div>
