<div id="account-existing" class="col-xs-12 login">
    <h3 class="col-xs-12">Terms of Use</h3>
    <div class="col-xs-12">
        <p>By accessing the Services through Tomizone Hotspots, You agree to be bound by these terms and conditions for the use of the Services (Agreement).</p>
    </div>
    <h3 class="col-xs-12">1.0 Definitions</h3>
    <div class="col-xs-12">
        <p>1.1 Provider: Is an independent and unrelated party to Tomizone.  The Provider provides and/or manages the Location.</p>
        <p>1.2 Tomizone: Tomizone Licensing Limited, a limited liability company incorporated in New Zealand (Company Number 2314649) with offices at Level 2, Shed 19, Prince's Wharf Auckland, New Zealand and the holder of trademarks and associated logo and character devices.</p>
        <p>1.3 Tomizone User: A person who obtains access to the Services in accordance with this Agreement.</p>
        <p>1.4 Services: The services provided by Tomizone granting You access to the internet at the Location via authentication upon Your acceptance of these terms and conditions.</p>
        <p>1.3 Website (or Site): Each and every one of the elements and contents of the Tomizone website from which You can access the Services.</p>
        <p>1.4 Captive Portal (or Portal): Portal used by Tomizone through which a Tomizone User accepts the terms and conditions of use and uses the Services.</p>
        <p>1.5 Tomizone Hotspot or Hotspot: The area in which the Services at the Location may be accessed.</p>
        <p>1.6 ISP: Internet service provider.</p>
        <p>1.7 Wi-Fi: Wireless Fidelity communications technology.</p>
        <p>1.9 Location: Is the location at which You can access the Tomizone Services, from time to time.</p>
        <p>1.10 Third Parties: Are third parties engaged by Tomizone from time to time to assist with the delivery of the Services to the Tomizone User.  For the avoidance of doubt, a Provider is not a Third Party. </p>
        <p>1.11 You and Your: is a Tomizone User.</p>
    </div>
    <h3 class="col-xs-12">2. Description of Services</h3>
    <div class="col-xs-12">
        <p>2.1 The Services provided by Tomizone consists of facilitating access to the Services by providing the authentication, accounting, authorisation and communications access to the Service.</p>
        <p>2.2 The Tomizone User can connect to the Services via a Tomizone Hotspot as and when available and subject to any rate plan rules which may apply.</p>
        <p>2.3 To connect to a Tomizone Hotspot at the Location, You will have to select the Tomizone Hotspot, and through the Captive Portal, authenticate for the Services by accepting these terms and conditions. Authentication may also require You entering specified credentials such as a roaming account username and password, or a Tomizone account username and password. You can create an instant Tomizone Account either at the Tomizone Website or on the Captive Portal. If a Tomizone Account is inactive for 365 days, any monetary balance in the account will be debited to a zero balance and the account may be closed. </p>
        <p>2.4 Where the Services are not provided free, Tomizone may charge a Tomizone User for access to the Services where applicable at the rate specified on the welcome page of the Captive Portal.</p>
        <p>2.5 Except where required by law, there are no credits or refunds whatsoever for charges incurred for any free or paid use of the Services.</p>
        <p>2.5 Tomizone reserves the right to change, at any time, the prices, promotions and/or discounts for the Services provided.</p>
    </div>
    <h3 class="col-xs-12">3 Data Protection</h3>
    <div class="col-xs-12">
        <p>3.1 Tomizone will maintain the confidentiality of all personal data relating to You during and after the termination of this Agreement.</p>
        <p>3.2 In order to provide the Service to You, Tomizone will need to share Your personal data with Third Parties. You agree and accept that the data You provide to Tomizone can be shared with Third Parties.  Tomizone warrants that it will comply with (i) all applicable privacy legislation; and (ii) the Tomizone privacy policy as published on the Tomizone Website at http://www.tomizone.com/legal/privacy_policy.  If You have any questions regarding the Tomizone privacy policy, please contact Tomizone by email at feedback@tomizone.com, or by mail to Tomizone, PO Box 3276, Auckland 1140, New Zealand.</p>
        <p>3.3 In no event will the Provider be liable to you, nor will you have any claim against the Provider, for any breach by Tomizone or any Third Party of its privacy obligations under this Agreement. </p>
    </div>
    <h3 class="col-xs-12">4 Terminating or Changing this Agreement</h3>
    <div class="col-xs-12">
        <p>4.1 Either Tomizone or You may decide to terminate this Agreement at any time. If:</p>
        <p>(a) You wish to terminate these terms and conditions, You must turn off the Wi-Fi radio of the device you are using to terminate access to the Services; or</p>
        <p>(b) Tomizone terminates these terms and conditions, by terminating your access to the Services.</p>
        <p>4.2  Upon termination, You will no longer have access to the Services at the Location.</p>
        <p>4.3 Tomizone may change this Agreement at any time. Tomizone expects that changes will be necessary to meet changing market conditions, or as new features to the Services are added, and as characteristics and specifications are added to the hardware, software and the Service. </p>
    </div>
    <h3 class="col-xs-12">5 Transfer</h3>
    <div class="col-xs-12">
        <p>5.1 Tomizone shall be able to transfer or assign its position under this Agreement to any another entity of its group. The transferee shall therefore subrogate in all rights and obligations of Tomizone under these terms and conditions. You accept any of the said transfers and assignments.</p>
    </div>
    <h3 class="col-xs-12">6 Limitation of Liability</h3>
    <div class="col-xs-12">
        <p>6.1 Except as required by law, neither Tomizone nor the Provider (a) warrant the availability, suitability, fitness for purpose of the Services or Location; or (b) will be liable to You for any loss or damage arising from errors or failures of access to the Service or Location as sustained by You. Without limiting the generality of the foregoing, Tomizone and the Provider: (c) specifically disclaim any warranty regarding the profitability or availability of the Services and Location; (d) make no guarantees that the Service and access to the Service at the Location will be error free, uninterrupted, secure, virus-free or always available or available with sufficient capacity;  (e) make no warranty that the Service will work at the Location and on every computer or computer system used by You; (f) will have no responsibility for damage or destruction to any computer system, data, information, property or equipment; and (g) will have no responsibility for any third party content, data, information, programs or other material that  You access whilst using the Service at the Location.</p>
        <p>6.2  Tomizone and the provider will not be liable to you in any event (including but not limited to negligence) for any special, incidental, indirect or consequential damages (including any damages for loss of business profits, business interruption, or loss of business information), even if informed of the possibility thereof in advance in relation to your use of the service.</p>
        <p>6.3  You represent and warrant that: (a) You are of legal age and have the legal capacity to enter into this Agreement; (b) If You are contracting on behalf of a company, You are authorised to enter into these terms and conditions and agree to be personally liable for all accounts if You are not so authorised.</p>
    </div>
    <h3 class="col-xs-12">7 Conditions of Use</h3>
    <div class="col-xs-12">
        <p>7.1  You will not access any internet sites or material or distribute material over the internet which are illegal or otherwise prohibited by law when using the Service at the Location.  You will notify Tomizone immediately if You become aware of such a breach by You at the Location when using the Service. </p>
        <p>7.2  You agree to respect the rights based on the interstate (and international) nature of communications through the Services, even if this Agreement is terminated. Recognising the global nature of the internet, You agree to comply with all local rules, laws and regulations regarding online conduct and acceptable content. Specifically, You agree to comply with all applicable rules, regulations and laws regarding the transmission of technical data exported from Your home nation, the country in which You reside, or any nation in which You are located when using the Services at the Location.</p>
        <p>7.3 You shall have a limited, royalty-free, non-exclusive license during the term of the agreement to use Tomizone's proprietary software known as Tomizone LightSwitch, which is a set of programs developed exclusively by Tomizone and owned by Tomizone.</p>
    </div>
    <h3 class="col-xs-12">8 Severability</h3>
    <div class="col-xs-12">
        <p>If any provision of this Agreement is held invalid, illegal or unenforceable for any reason by any court of competent jurisdiction, such provision shall be severed and the remainder of its provisions will continue in full force and effect as if these terms and conditions had been executed with the invalid, illegal or unenforceable provision omitted.</p>
    </div>
    <h3 class="col-xs-12">9. Entire Agreement</h3>
    <div class="col-xs-12">
        <p>This Agreement represents the final and entire agreement between You and Tomizone regarding the Service. Electronic images of this Agreement will be considered originals. You acknowledge that You have not relied on any other representations not specifically included in this Agreement If Tomizone does not enforce its rights under any of the provisions of these terms and conditions, Tomizone may still require strict compliance in the future.  Tomizone suggests that You print and keep a copy of this Agreement for Your records. This Agreement shall apply to all of the Services. In addition to this Agreement, there may be additional terms and conditions which apply to individual Services which You will be required to accept when registering for that particular Service.</p>
        <p>This Agreement and, where applicable, the relevant additional terms that You accept as part of the registration process for Service, form the entire understanding between You and Tomizone concerning Your use of the Service, and supersede all previous agreements relating to the Service.</p>
    </div>
    <h3 class="col-xs-12">10. Intellectual Property</h3>
    <div class="col-xs-12">
        <p>You acknowledge Tomizone's ownership of its intellectual property rights in the Tomizone trade marks, trade names, logos, devices, software and systems and will not dispute ownership of them nor do any act, matter or thing which is inconsistent with or adverse to our rights.</p>
    </div>
    <h3 class="col-xs-12">11. Jurisdiction and Law</h3>
    <div class="col-xs-12">
        <p>This Agreement is governed by and is to be construed in accordance with the laws of New Zealand and the parties hereby agree to submit to the non-exclusive jurisdiction of the New Zealand courts.</p>
    </div>
</div>

