
<div id="welcome" class="col-xs-12 col-md-6">

    <h1>{{#if context.title}}{{context.title}}{{else}}Hey there {{ currentUser.firstName }}{{/if}}</h1>
    <h2>{{#if context.message}}{{context.message}}{{else}}Let's get you online{{/if}}</h2>

</div>

<div id="voucher" class="col-xs-12 col-md-6 login">

    <form class="form-inline" {{action submit on="submit"}}>

        <h3 class="col-xs-12">Voucher Code <small>/ {{#link-to 'index'}}Use Secure Payment{{/link-to}}</small></h3>
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            {{view App.InputText
                valueBinding="code"
                mask="***-***-***"
                type="text"
                id="code"
                autofocus=true
                required=true
                minlength=11
                maxlength="11"
                classNames="col-xs-12 text-center popover-input"
                data-content="(eg. FER-EAC-ERG)"
                data-container="body"
                data-placement="auto top"
                data-trigger="focus"
                placeholder="XXX-XXX-XXX"}}
        </div>

        <div class="col-xs-12 col-md-6 pull-right">

            {{#spinner-button type="submit" tabindex="2" class="btn btn-primary full-width submit" classBinding="disableVoucherSubmit:disabled:enabled" disabledBinding=disableVoucherSubmit isSpinning=isProcessing}}
                Get Online
            {{/spinner-button}}

        </div>

    </form>
</div>
